.img {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.item:hover {
  transition: 0.3s;
  filter: brightness(0.5);
}

/* mobile */
@media screen and (max-width: 600px) {
  .img {
    display: none;
  }
}
