.ComunicacaoImg {
  max-width: 100%;
  position: absolute;
  width: 300px;
  right: 20px;
  bottom: 20px;
}

.text {
  max-width: 100%;
  color: white;
  padding: 0px 0px 15px 0px !important;
}

.MuiFormLabel-root {
  color: white !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

input {
  color: white !important;
}

.MuiInputBase-input .MuiOutlinedInput-input {
  color: white !important;
}

Button {
  width: 100%;
}
