.ComunicacaoImg {
  max-width: 100%;
}

.text {
  max-width: 100%;
  color: white;
  padding: 0px 0px 15px 0px !important;
  width: 100%;
}

.MuiFormLabel-root {
  color: white !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

input {
  color: white !important;
}

.MuiInputBase-input .MuiOutlinedInput-input {
  color: white !important;
}

Button {
  width: 100%;
}

/* mobile */
@media screen and (max-width: 600px) {
  .ComunicacaoImg {
    padding: 30px 0px 30px 0px;
  }
}
