/* ----- SMALL ----- */
.navbar {
  background-color: #1ed45f !important;
}

.toolbar {
  position: fixed;
  top: 0px;
  z-index: 1000;
}

.content {
  margin-top: 28px;
}

.sidebar-head {
  text-align: center;
}

.profileImg {
  margin: 20px 0px;
  width: 75%;
  padding: 0px 40px;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

h5 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.menu {
  background-color: #1ed45f;
}

.menu-item {
  background-color: #1ed45f;
  border-radius: 0px !important;
}

.menu-item:hover {
  background-color: #0daf47;
  cursor: pointer;
}

/* ----- LARGE ----- */
@media screen and (min-width: 800px) {
  .navbar {
    display: none;
  }

  .profileImg {
    margin: 20px 0px;
    width: 100%;
    padding: 0px 20px;
  }

  .toolbar {
    position: relative;
  }

  .content {
    margin-top: 0px;
  }
}
