.imgComputer {
  position: absolute;
  width: 300px;
  max-width: 300px;
  right: 20px;
}

p {
  text-align: justify;
}

/* mobile */
@media screen and (max-width: 600px) {
  .title {
    margin-top: 30px;
    text-align: center !important;
  }

  .imgComputer {
    display: none;
  }
}
