body {
  color: #fefefe;
}

.row {
  margin: 30px 30px 30px 30px !important;
}

.content {
  height: auto;
  background-color: #2d3a41;
  padding: 0px;
}

.sidebar {
  height: fit-content;
  background-color: #0daf47;
  padding: 0px;
}

.sidebar-head {
  padding: 0px 20px;
}

.sidebar-content {
  height: 100vh;
  background-color: #1ed45f;
}

.homeImg {
  height: 50vh;
  padding: 0px 0px 15px 0px;
}

.profileImg {
  margin: 20px 0px;
  width: 100%;
  border-radius: 30px 30px 0px 30px;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

h5 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.menu {
  background-color: #1ed45f;
}
.menu-item {
  background-color: #1ed45f;
  border-radius: 0px !important;
}

.menu-item:hover {
  background-color: #0daf47;
}

a {
  color: #fefefe;
}

a:hover {
  color: #fefefe;
  text-decoration: none;
}
