/* ----- SMALL ----- */
body {
  color: #fefefe;
  background-color: #2d3a41;
}

.navbar {
  background-color: #1ed45f !important;
}

.row {
  margin: 0px;
}

.content {
  height: auto;
  background-color: #2d3a41;
  padding-left: 0px;
}

.homeImg {
  height: 50vh;
  padding: 0px 0px 15px 0px;
}

.sidebar {
  display: none;
}

.sidebar-head {
  background-color: #0DAF47;    
  padding-bottom: 15px;
}

.profileImg {
  margin: 20px 0px;
  width: 100%;
  padding: 0px 40px;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

h5 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.menu {
  background-color: #1ed45f;
}

.menu-item {
  background-color: #1ed45f;
  border-radius: 0px !important;
}

.menu-item:hover {
  background-color: #0daf47;
}

a {
  color: #fefefe;
}

a:hover {
  color: #fefefe;
  text-decoration: none;
}










/* ----- LARGE ----- */
@media screen and (min-width: 800px) {

  body {
    background-color: #dbe1e4;
  }

  .navbar {
    display: none;
  }

  .row {
    margin: 30px 30px 30px 30px;
  }

  .col-md-2 {
    padding: 0px;
  }

  .sidebar {
    background-color: #1ed45f;
    display: initial;
  }
  
  .sidebar-head {
    background-color: #0DAF47;    
    padding-bottom: 15px;
  }

  .profileImg {
    margin: 20px 0px;
    width: 100%;
    padding: 0px 20px;
  }
  
  .sidebar-content {
    height: 450px;
  }

}